/** @format */

.footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding: 3em;
}

.btn-top-page {
	background-color: rgb(93, 123, 234);
	border: 2px solid rgb(20, 39, 155);
	border-radius: 10px;
	text-decoration: none;
	color: white;
	font-family: Bungee, sans-serif;
	font-size: medium;
	padding: 10px 20px;
}

.btn-top-page:hover {
	background-color: rgb(20, 39, 155);
	border: 2px solid rgb(93, 123, 234);
	cursor: pointer;
}
