/** @format */

.user-profile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(92, 122, 234);
	background-image: url("/images/back-pattern.png");
}

#profile-name {
	color: white;
}
