/** @format */

nav {
	height: 90 px;
	width: 100%;
	background-color: rgb(92, 122, 234);
	background-image: url("/images/back-pattern.png");
	color: white;

	padding: 1.5em;
	display: flex;
	z-index: 10;
	position: sticky;
	/*height: 400px;*/
	width: 100%;
	top: 0;
}

.nav-content {
	margin-left: auto;
	display: block;
	text-align: center;
}
.logo {
	font-family: Bungee, sans-serif;
	font-size: 30px;
}

#double-down {
	display: block;
	color: red;
}
