/** @format */

nav {
	height: 120 px;
	width: 100%;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 100%);
	color: white;
	
	padding: 1.5em;
	display: flex;
}
.overlay {
	z-index: 10;
	position: sticky;
	/*height: 400px;*/
	width: 100%;
	top: 0;
}
.nav-content {
	margin-left: auto;
	display: block;
	text-align: center;
}
.logo {
	font-family: Bungee, sans-serif;
}

#double-down {
	display: block;
}
