/** @format */

.new-tweet-form {
	padding: 20px;
}
.new-tweet-form::placeholder {
	font-weight: bold;
	color: rgb(60, 58, 58);
}

.new-tweet-input {
	width: 100%;
	color: black;
	font-weight: bolder;
	background: transparent;
	border: none;
	font-style: italic;
	padding: 0.5em;
}

.new-tweet-input:focus {
	outline: none;
	/*
	outline-color: rgb(92, 122, 234);
	opacity: 50%;
	I considered the focus outline colored can improve user experience so I left it in the screenshots to demonstrate*/
}

.new-tweet-submit {
	background: rgb(20, 39, 155);
	color: white;
	display: flex;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid rgb(20, 130, 201);
	font-family: Bungee, sans-serif;
	font-size: medium;
}

.new-tweet-submit:hover {
	border: 1px solid #1482c9;
	font-family: Bungee, sans-serif;
	background-color: rgb(92, 122, 234);
	display: flex;
	padding: 10px 20px;
	border-radius: 10px;
	border: 2px solid rgb(20, 39, 155);
	cursor: pointer;
}

.new-tweet-counter {
	font-weight: 600;
	display: flex;
	justify-content: flex-end;
}

.new-tweet-error {
	margin: auto;
	color: tomato;
	font-weight: 600;
	border: solid 5px;
	text-align: center;
	width: 700px;
	padding: 1em;
}
