/**
 * /* mobile style
 *
 * @format
 */

@media only screen and (min-width: 600px) and (max-width: 1023px) {
	.container {
		width: 100%;
		padding: 0px;
		background-color: #f4f1ec;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1023px;
	}
	nav {
		background-color: rgb(92, 122, 234);
		background-image: url("/images/back-pattern.png");
	}

	.user-profile {
		padding: 1em 0;
	}

	#profile-image {
		margin-top: 0.5em;
	}

	#profile-name {
		margin-top: 0;
	}
}

/*desktop Style*/
@media only screen and (min-width: 1024px) and (max-width: 2000px) {
	.container {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		width: 100%;
		max-width: 1800px;
	}

	nav {
		background-color: rgb(20, 39, 155);
	}

	.user-profile {
		margin-right: 1em;
		margin-top: 1em;
		padding: 0px 100px;
		display: flex;
		width: 40%;
		max-height: 600px;
	}
	.input {
		margin: 1em 0;
		width: 60%;
		max-width: 3000px;
	}
}
