/** @format */

.tweet {
	border: solid 3px darkblue;
	margin: 1em;
	padding: 1em;
}
.tweets-posted {
	/*display: block;*/
	margin: auto;
	max-width: 100%;
	word-wrap: break-word;
}
footer {
	display: flex;
	flex-direction: row;
	font-size: 16px;
	justify-content: space-between;
}
.tweet:hover {
	box-shadow: 10px 5px 5px grey;
}
.user {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.user-picture-name {
	display: flex;
	justify-content: space-between;
}
.user-icon {
	padding: 5px;
	margin: 5px;
}

.user-handle {
	color: grey;
}

.fa-flag:hover {
	color: darkgoldenrod;
	cursor: pointer;
}

.fa-retweet:hover {
	color: white;
	cursor: pointer;
}

.fa-heart:hover {
	color: red;
	cursor: pointer;
}

.error {
	/*display: block;*/
	margin: auto;
	color: red;
	font-weight: 600;
	border: solid 5px;
	text-align: center;
	max-width: 700px;
}
